/*NavBar*/
body{
    margin: 0;
    padding: 0;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}
.navbar li a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}
.navbar li a:hover{
    background-color: darkviolet;
}
/*This is the header*/
#main-header{
    background-color: blueviolet;
    text-align: center;
}
/*This is my flexbox*/
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
body{
    background-color: blanchedalmond;
}
/*The parent container*/
#container {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 3);
    gap: 10px;
    border: 3px dotted purple;
    margin: 0px;
    padding: 0px;
}
/*The child*/
.items li{
    background-color: beige;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin:20px;
    gap:2px;
}
.items1{
    grid-column: 1/span 4;
    align-items: center;
}
.list1{
    grid-column: 1/span 4;
}

.about{
    background-color: beige;
    padding: 20px;
    margin: 10px;
}
/*Another flexbox*/
.image{
    display:flex;
    align-content: center;
    justify-content: center;
}
h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p{
    text-align: center;
    color: blueviolet;
}

.life{
    background-color: beige;
    padding: 20px;
    margin: 10px;
}
.career{
    background-color: beige;
    padding:20px;
    margin: 10px;
}
/*My Grid*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid-item{
    background-color: antiquewhite;
    color:blueviolet;
    padding: 20px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-color: blueviolet;
    border-radius: 10px;
    border: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/*This is in a flexbox*/
.list{
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
    padding: 50px;
    margin: 50px;
}
/*This is the footer*/
.footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: blueviolet;
    text-align: center;
}

